.venue-list {
    list-style-type: none;
    padding: 0;
  }
  
  .venue-item {
    display: flex;
    align-items: center; 
    margin-bottom: 1rem;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #ffd9b3;
  }
  
  .venue-image-container {
    flex: 0 0 150px;
    margin-right: 1rem;
  }
  
  .venue-image {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .venue-info {
    flex: 1;
    display: flex;
    flex-direction: column; 
  }
  
  .venue-info-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .venue-info h3 {
    margin-top: 0;
  }
  
  .venue-info p {
    margin: 0.5rem 0;
  }
  
  .venue-info button {
    margin-left: 10px;
  }
  
  /* Media Query for Mobile Devices */
@media (max-width: 768px) {
    .venue-item {
      flex-direction: column;
      align-items: center; 
    }
  
    .venue-image-container {
      margin-right: 0;
      margin-bottom: 1rem;
    }
  
    .venue-info-content {
      flex-direction: column;
      align-items: center; 
    }
  
    .venue-info button {
      margin: 10px 0 0 0;
    }
  }
  